<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %} Frikr {% endblock %}</title>
</head>
<body>

    <header>
        <h3>Frikr</h3>
        <hr>
        <nav>
            <a href="{% url 'home' %}">Home</a> |
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </nav>
        <hr>
    </header>

    <main>
        <h1>{% block main_title %}{% endblock %}</h1>
        <div>{% block main_content %}{% endblock %}</div>
    </main>

    <footer>
        <hr>
        Frikr &copy; {% now 'Y' %}. All rights reserved.
    </footer>

</body>
</html>